body {
	background: #F4F4F4;
	color: #303030;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 15px;
}

h1 {
	font-family: 'Trade Winds', cursive;
	font-size: 25px;
}

h2 {
	color: #F66264;
	font-size: 20px;
	font-weight: 400;
}

.nav-tabs {
	font-family: 'Trade Winds', cursive;
	font-size: 20px;
	background-color: #666666
}

.nav-tabs a {
	color: #F4F4F4;
}

.nav-tabs a:hover {
	color: #666666
}

.tab-content {
	padding: 20px;
}

#terrain td {
    width: 30px;
    height: 40px;
    text-align: center;
    border: 1px solid white;
}

td.isolement   { background: #e68384; }
td.defausse    { background: #CC2F31; }
td.frontline   { background: #9174E3; }
td.ingredients { background: #83E070; }
td.potions     { background: #F7C46A; }
td.reserve     { background: #33BF17; }
td.backline    { background: #6345B5; }
td.deck        { background: #A8A8A8; }

.card {	
	width: 190px;
	float: left;
}

.keyword {
	font-weight: 500;
}

td {
    border: 1px solid;
}